.conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 0em;
}

.conteiner ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.buttonPaginas {
  font-size: calc(6px + 2vmin);
  color: rgb(255, 0, 0);
  border-color: rgb(255, 0, 0);
}

.buttonPaginActive {
  font-size: calc(6px + 2vmin);
  color: blue;
  border-color: blue;
}

.button_Anterior_Siguente {
  font-size: calc(6px + 2vmin);
  margin: 4rem;
}
