.contenedorGeneral {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  background-color: rgb(90, 151, 230);
  background-image: url("./imagenes/Paisaje.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedorGeneral h1 {
  justify-content: center;
  display: inline-block;
  position: relative;
  bottom: 6rem;
  left: 21rem;
}

.contenedorParrafo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 3rem;
  position: relative;
  top: 1rem;
  width: 50rem;
  height: 10rem;
  right: 15rem;
  background-color: rgba(135, 206, 235, 0.5);
  opacity: 0.9;
}

.Parrafo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contenedorParrafo p {
  text-align: justify;
  font-size: 18px;
}

.contenedorH3 {
  display: inline-block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  position: relative;
  bottom: 13rem;
  left: 16rem;
}

.contenedorH3 h3 {
  font-size: 20px;
}

.contenedorButton {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  right: 35rem;
  bottom: 10rem;
}
.contenedorButton button {
  color: brown;
  background-color: chartreuse;
  border-color: red;
  border-radius: 5rem;
  font-size: 20px;
  box-shadow: 0px 0px 0px 5px #050e17;
  transition: box-shadow 0.9s ease-in-out;
}

.contenedorButton button:hover {
  box-shadow: 0px 0px 0px 5px #007bff;
}

.imagenCucha {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 8rem;
  height: 8rem;
  left: 10rem;
  top: 3rem;
  background-image: url("./imagenes/Cucha.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.imagenPastorAleman {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-image: url("./imagenes/PastorAleman.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 6rem;
  height: 6rem;
  left: 10rem;
  top: 3rem;
}

.cucha2 {
  overflow: hidden;
  background-image: url("./imagenes/Cucha2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 9rem;
  height: 9rem;
  position: relative;
  top: 2.5rem;
  right: 55rem;
}

.perroAnimado {
  overflow: hidden;
  background-image: url("./imagenes/PerroAnimado.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 7rem;
  height: 7rem;
  position: relative;
  top: 4rem;
  right: 55rem;
}

@media (max-width: 800px){
  .contenedorGeneral {
   display: grid;
   grid-template-columns: 1fr;
  }

  .contenedorGeneral h1 {
    left: 0.1rem;
    margin: 0;
    padding: 0;
    top: 0;
  }

  .contenedorParrafo {
    display: block;
    flex-direction: column;
    height: 6rem;
    width: 38rem;
    padding: 0.5rem;
    margin: 0;
    right: 0;
    left: 1rem;
    top: 0;
  }

  .contenedorParrafo p {
    text-align: justify;
    font-size: 14px;
  }

  .contenedorH3 {
    display: block;
    bottom: 1rem;
    left: 1rem;
    padding: 0.2rem;
  }

  .contenedorH3 h3 {
    font-size: 20px;
  }

  .contenedorButton {
    display: inline-block;
    position: relative;
    left:0;
    right: 0;
    bottom: 10rem;
    justify-content: center;
    align-items: center;
  }

  .contenedorButton button {
    font-size: 0.9rem;
  }

  .cucha2{
    display: none;
  }

  .perroAnimado{
    display: none;
  }

  .imagenCucha {
    width: 5rem;
    height: 5rem;
    bottom: 0;
    top: 0;
    right: 0;
    left: 5rem;
  }
  
  .imagenPastorAleman {
    width: 4rem;
    height: 4rem;
    top: 5rem;
    left: 0;
    right: 0;
  }
}

@media (max-width: 650px){
  .contenedorGeneral h1 {
    justify-content: center;
    display: inline-block;
    position: relative;
    left: 0.1rem;
    margin: 0;
    padding: 0;
    top: 0;
    font-size: 18px;
  }

  .contenedorParrafo {
    height: 9rem;
    width: 20rem;
    padding: 0.5rem;
    margin: 0;
    right: 1rem;
    top: 0;
  }

  .contenedorParrafo p {
    text-align: justify;
    font-size: 14px;
  }

  .contenedorH3 {
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
    bottom: 4rem;
    left: 0;
    padding: 0.2rem;
  }

  .contenedorH3 h3 {
    font-size: 16px;
  }

  .contenedorButton {
    display: inline-block;
    position: relative;
    left:0;
    right: 0;
    bottom: 25rem;
    justify-content: center;
    align-items: center;
  }

  .contenedorButton button {
    font-size: 12px;
  }

  .cucha2{
    display: none;
  }

  .perroAnimado{
    display: none;
  }

  .imagenCucha {
    width: 6rem;
    height: 6rem;
  }
  
  .imagenPastorAleman {
    width: 5rem;
    height: 5rem;
    top: 8rem;
  }
}