.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1em;
  margin-top: 0.6rem;
  align-items: center;
  align-content: center;
  justify-items: center;
}

@media (max-width: 800px) {
  .container {
  grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .container {
  grid-template-columns: 1fr;
  }
}
